body {
  background-color: lightcoral;
}

p {
  color: whitesmoke;
}

.container {
  height: "100%";
  width: "100%";
  background-color: lavender;
}

/****************************** Home Page ******************************/

.homeHeader {
  min-width: 100%;
  background-color: violet;
  min-height: 10rem;
}

.catListHeader {
}
.categoryList {
  display: flex;
  flex-direction: column;
  /* float: left; */
}

/****************************** Buyer Page ******************************/

.buyerHeader {
  min-width: 100%;
  background-color: rgb(131, 77, 153);
  min-height: 10rem;
}

/****************************** Seller Page ******************************/

.sellerHeader {
  min-width: 100%;
  background-color: rgb(100, 89, 193);
  min-height: 10rem;
}
