:root {
  --navy: rgb(21, 41, 82);
  --gold: rgb(220, 174, 22);
  --lava: rgb(255, 77, 45);
}

.buyerHeader {
  min-width: 100%;
  background-color: rgb(131, 77, 153);
  min-height: 10rem;
}

.itemGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.listingContainer {
  width: 20vw;
  height: 20vw;
  margin-left: 4vw;
  margin-top: 2vw;
  border: rgb(237, 221, 82);
  border-width: 1px;
  border-style: solid;
}

.itemName {
  font-family: monospace;
  color: whitesmoke;
  text-align: center;
  margin-top: 3vw;
}

.itemPrice {
  font-family: monospace;
  color: rgb(220, 174, 22);
  font-weight: 600;
  text-align: center;
}

.itemSeller {
  font-family: monospace;
  color: whitesmoke;
  text-align: center;
}

.purchaseBtn {
  background-color: rgb(220, 174, 22);
  color: #093161;
  width: 10vw;
  height: 3vw;
  margin-left: 5vw;
  border-radius: 6px;
  margin-top: 1vw;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
}
